USE [master]
GO
/****** Object:  Database [QLSACH_BANSACH]    Script Date: 17/09/2021 6:33:50 SA ******/
CREATE DATABASE [QLSACH_BANSACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSACH_BANSACH', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.WIN2K\MSSQL\DATA\QLSACH_BANSACH.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSACH_BANSACH_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.WIN2K\MSSQL\DATA\QLSACH_BANSACH_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSACH_BANSACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSACH_BANSACH]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 17/09/2021 6:33:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MACTHD] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [int] NULL,
	[MASACH] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [char](10) NULL,
	[MANV] [char](10) NULL,
	[NGAYHD] [date] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[SDT] [int] NULL,
	[TAIKHOAN] [char](50) NULL,
	[MATKHAU] [char](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[LUONG] [int] NULL,
	[SDT] [int] NULL,
	[TAIKHOAN] [char](50) NULL,
	[MATKHAU] [char](50) NULL,
	[QUYEN] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [char](10) NOT NULL,
	[TENNXB] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [char](10) NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](10) NOT NULL,
	[MANXB] [char](10) NOT NULL,
	[MATG] [char](10) NOT NULL,
	[MATL] [char](10) NOT NULL,
	[TENSACH] [nvarchar](50) NULL,
	[GIABAN] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [char](10) NOT NULL,
	[TENTG] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATL] [char](10) NOT NULL,
	[TENTL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[THONGTINSACH]    Script Date: 17/09/2021 6:33:51 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[THONGTINSACH]
as
	select MASACH, TENSACH, TENTL, TENTG, TENNXB, GIABAN, SOLUONG
	from SACH, TACGIA, NHAXUATBAN, THELOAI
	where SACH.MATG = TACGIA.MATG and SACH.MANXB = NHAXUATBAN.MANXB and SACH.MATL = THELOAI.MATL

GO
SET IDENTITY_INSERT [dbo].[ChiTietHD] ON 

INSERT [dbo].[ChiTietHD] ([MACTHD], [MAHD], [MASACH], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (1, 2, N'SH3       ', 3, 30000, 90000)
INSERT [dbo].[ChiTietHD] ([MACTHD], [MAHD], [MASACH], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (2, 2, N'SH6       ', 10, 15000, 150000)
INSERT [dbo].[ChiTietHD] ([MACTHD], [MAHD], [MASACH], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (3, 3, N'SH4       ', 5, 45000, 225000)
SET IDENTITY_INSERT [dbo].[ChiTietHD] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYHD], [TONGTIEN]) VALUES (1, N'KH1       ', N'NV1       ', CAST(N'2021-05-23' AS Date), 15000)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYHD], [TONGTIEN]) VALUES (2, N'KH3       ', N'NV2       ', CAST(N'2021-09-16' AS Date), 240000)
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYHD], [TONGTIEN]) VALUES (3, N'KH6       ', N'NV1       ', CAST(N'2021-09-17' AS Date), 715000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [SDT], [TAIKHOAN], [MATKHAU], [DIACHI]) VALUES (N'KH1       ', N'Nguyễn Thị Bảo Trân', CAST(N'2000-02-16' AS Date), N'nữ', 358859490, N'tran                                              ', N'123                                               ', N'an giang')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [SDT], [TAIKHOAN], [MATKHAU], [DIACHI]) VALUES (N'KH2       ', N'Nguyễn Cao Long', CAST(N'2000-01-01' AS Date), N'nam', 123456789, N'long                                              ', N'123                                               ', N'sài gòn')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [SDT], [TAIKHOAN], [MATKHAU], [DIACHI]) VALUES (N'KH3       ', N'Nguyễn Bí Đỏ', CAST(N'2000-01-01' AS Date), N'nam', 987654321, N'do                                                ', N'123                                               ', N'bến tre')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [LUONG], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (N'NV1       ', N'Lê Quang Trung', CAST(N'2000-04-01' AS Date), N'nam', 6000000, 764369836, N'trung                                             ', N'123                                               ', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [LUONG], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (N'NV2       ', N'Lê Quang Tèo', CAST(N'2000-04-01' AS Date), N'nam', 6000000, 377889760, N'win                                               ', N'123                                               ', 0)
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (N'NXB1      ', N'Nhà xuất bản Trẻ', N'124 Nguyễn Văn Cừ Q.1 Tp.HCM', 1900156045)
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (N'NXB10     ', N'NXB Tài Chính', N'Huế', 903118833)
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (N'NXB2      ', N'NXB Thống kê', N'Biên Hòa-Đồng Nai', 1900151112)
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MATG], [MATL], [TENSACH], [GIABAN], [SOLUONG]) VALUES (N'SH1       ', N'NXB1      ', N'TG1       ', N'TL1       ', N'sách văn học', 15000, 50)
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MATG], [MATL], [TENSACH], [GIABAN], [SOLUONG]) VALUES (N'SH10      ', N'NXB10     ', N'TG10      ', N'TL5       ', N'sách ôn thi thpt', 50000, 100)
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MATG], [MATL], [TENSACH], [GIABAN], [SOLUONG]) VALUES (N'SH2       ', N'NXB2      ', N'TG2       ', N'TL1       ', N'sách giải toán', 20000, 30)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [DiaChi], [SDT]) VALUES (N'TG1       ', N'Tenzin Gyatso', N'179 Chánh Hưng F.4 Q.8 Tp.HCM', 123456789)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [DiaChi], [SDT]) VALUES (N'TG10      ', N'Ngọc Bích', N'179 Chánh Hưng F.4 Q.8 Tp.HCM', 123456789)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [DiaChi], [SDT]) VALUES (N'TG2       ', N'Trịnh Xuân Thuận', N'179 Chánh Hưng F.4 Q.8 Tp.HCM', 123456789)
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL1       ', N'giáo dục')
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL2       ', N'hướng dẫn')
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL3       ', N'chính trị')
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_CTHD_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_SACH] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_CHITIETHD_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([MATL])
REFERENCES [dbo].[THELOAI] ([MATL])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
USE [master]
GO
